body {
  background-color: rgb(199, 7, 199);
}

#description {
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  font-size: 20px;
  color: rgb(105, 248, 236);
}

main {
  background-color: rgb(39, 39, 231);
  margin-left: 100px;
  padding: 50px;
}
